<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casino Jackpot App</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<p id="message">Welcome! Click Spin To Start!</p>
<p id="credits">Credits</p>
<div class="slot-machine-image">
    <div class="slot-machine">
        <div class="slotcontainer">
            <div class="slot">
                <div class="symbols" id="slot1Symbols"></div>
            </div>

            <div class="slot">
                <div class="symbols" id="slot2Symbols"></div>
            </div>

            <div class="slot">
                <div class="symbols" id="slot3Symbols"></div>
            </div>
        </div>
    </div>
</div>
<div id="buttons">
    <button id="spin-button">Spin</button>
    <button id="cashout-button">Cash Out</button>
</div>
</body>
</html>